<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-sm-flex mb-5">
                    <span class="m-auto"></span>
                    <button class="btn btn-outline-secondary mr-3 mb-sm-0 mb-3" [routerLink]="['/languages/list']">Back To List</button>
                </div>

                <div id="print-area">
                    <div class="row mb-5">
                        <div class="col-md-6 mb-3 mb-sm-0">
                            <h5 class="font-weight-bold">Language Title</h5>
                            <p>English</p>
                            <span style="white-space: pre-line">
                                
                            </span>
                        </div>
                        <div class="col-md-6 text-sm-right">
                            <h5 class="font-weight-bold">Language Code</h5>
                            <p>us-en</p>
                            <span style="white-space: pre-line">
                                
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>