.paddingzero{    padding: 0px 5px !important;}
.imgblock{border-radius: 5px;}
.imgborder{ border: 1px solid #dcdcdc;}
.imgblock .timenew {       position: absolute;
    bottom: 36px;
    font-size: 10px;
    background: #000;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    padding-top: 1px;
    left: 52px;}
.btnview{
    padding: 2px 20px;
    font-size: 11px;
    margin-top: 59px;
    position: fixed;
    left: 64%;
}
.flexview{    justify-content: center;
    align-items: center;
    display: flex;}
.modal-body {min-height: 200px;}
.min_block-height{min-height: 144px !important;}
.min_block-height .form-group {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px !important;;
}
.img_view_new img {
    border: 1px solid #c0c0c0;
    padding: 0 0px;
    border-radius: 5px;
    background: #f5f5f5;
}
.m-10{    margin-bottom: 10px;}
.timenew{
    position: absolute;
    right: 11px;
    bottom: 80px;
    font-size: 10px;
    background: #000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    padding-top: 4px;
}
.img_view_new img {
    height: 100px !important;
    width: 100px !important;
}
.img_view_new img:hover {
    box-shadow: 0 3px 2px #d0d0d0;
}
.row100 input.form-control {
    margin-bottom: 15px;
}
// .ul-widget2__username {
//       font-size: .7rem;  
//       color: #70657b  !important;
//     }
.view_img{
    justify-content: center;
    align-items: center;
    display: grid;
}
.imgblock img {
    height: 50px !important;
    width: 50px !important;
}
