<div class="container">
    <div class="row">
       <div class="col-sm-12 text-center">
          <h4>Requesting Interpreting Services</h4>
          <p>Interpreting services can be requested via phone or email.</p>
          <p><b>Contacts:</b> Michael House and Daisy Reyes</p>
          <p><b>Phone:</b> (303) 274-2634</p>
          <p><b>Email:</b> sitc@cescols.com</p>
       </div>
   </div>
       <div class="row mainblock">
       <div class="col-sm-12">
          <h3>Information Required:</h3>
          <div class="title-wrap">
             <h4 class="cart-bottom-title section-bg-gray">Requester Information</h4>
          </div>
       </div>
       <form [formGroup]="stepEightForm">
          <div class="col-sm-6">
             <label>Business/Organization to Bill</label>
             <input type="text" formControlName="business" class="form-control" placeholder="Business/Organization to Bill">
             <div *ngIf="stepEightForm.controls['business'].errors && ( !stepEightForm.controls['business'].pristine || submitted ||stepEightForm.controls['business'].touched )" class="error-msg">
                <div [hidden]="!stepEightForm.controls['business'].errors.required">Business is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
          </div>
          <div class="col-sm-6">
             <label>Requester Name </label>
             <input type="text" formControlName="requester_name"  class="form-control" placeholder="Requester Name">
             <div *ngIf="stepEightForm.controls['requester_name'].errors && ( !stepEightForm.controls['requester_name'].pristine || submitted ||stepEightForm.controls['requester_name'].touched )" class="error-msg">
                <div [hidden]="!stepEightForm.controls['requester_name'].errors.required">Requester Name is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
          </div>
          <div class="col-sm-6">
             <label>Office Phone</label>
             <input type="text"  formControlName="office_phone" class="form-control" placeholder="Office Phone">
             <div *ngIf="stepEightForm.controls['office_phone'].errors && ( !stepEightForm.controls['office_phone'].pristine || submitted ||stepEightForm.controls['office_phone'].touched )" class="error-msg">
                <div [hidden]="!stepEightForm.controls['office_phone'].errors.required">Office Phone is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
          </div>
          <div class="col-sm-6">
             <label>Email Address</label>
             <input type="text" formControlName="email_address" class="form-control" placeholder="Email Address">
             <div *ngIf="stepEightForm.controls['email_address'].errors && ( !stepEightForm.controls['email_address'].pristine || submitted ||stepEightForm.controls['email_address'].touched )" class="error-msg">
                <div [hidden]="!stepEightForm.controls['email_address'].errors.required">Email Address is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
          </div>
          <div class="col-sm-12">
             <div class="title-wrap">
                <h4 class="cart-bottom-title section-bg-gray">Appointment Information</h4>
             </div>
          </div>
          <div class="col-sm-6">
             <label>Location1</label>
             <textarea class="form-control" rows="3" formControlName="location1" placeholder="Name of Building/Clinic/Office off.."></textarea>
             <div *ngIf="stepEightForm.controls['location1'].errors && ( !stepEightForm.controls['location1'].pristine || submitted ||stepEightForm.controls['location1'].touched )" class="error-msg">
                <div [hidden]="!stepEightForm.controls['location1'].errors.required">Location is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
            </div>
          <div class="col-sm-6">
             <label>Location2</label>
             <textarea class="form-control" rows="3" formControlName="location2" placeholder="Address"></textarea>
             <div *ngIf="stepEightForm.controls['location2'].errors && ( !stepEightForm.controls['location2'].pristine || submitted ||stepEightForm.controls['location2'].touched )" class="error-msg">
                <div [hidden]="!stepEightForm.controls['location2'].errors.required">Location is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
          </div>
          <div class="col-sm-12">
             <label>Location3</label>
             <textarea class="form-control" rows="3" formControlName="location3" placeholder="Phone Number"></textarea>
             <div *ngIf="stepEightForm.controls['location3'].errors && ( !stepEightForm.controls['location3'].pristine || submitted ||stepEightForm.controls['location3'].touched )" class="error-msg">
                <div [hidden]="!stepEightForm.controls['location3'].errors.required">Location is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
            </div>
          <div class="col-sm-6">
             <label>Name of Provider/Doctor</label>
             <input type="text" formControlName="name_of_provider" class="form-control" placeholder="Name of Provider/Doctor">
             <div *ngIf="stepEightForm.controls['name_of_provider'].errors && ( !stepEightForm.controls['name_of_provider'].pristine || submitted ||stepEightForm.controls['name_of_provider'].touched )" class="error-msg">
                <div [hidden]="!stepEightForm.controls['name_of_provider'].errors.required">Name of Provider is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
          </div>
          <div class="col-sm-6">
             <label>Nature of Appointment / Appointment type</label>
             <input type="text" formControlName="nature_of_appointment" class="form-control" placeholder="Nature of Appointment / Appointment type">
             <div *ngIf="stepEightForm.controls['nature_of_appointment'].errors && ( !stepEightForm.controls['nature_of_appointment'].pristine || submitted ||stepEightForm.controls['nature_of_appointment'].touched )" class="error-msg">
                <div [hidden]="!stepEightForm.controls['nature_of_appointment'].errors.required">Nature of Appointment is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
            </div>
          <div class="col-sm-6">
             <label>Name of person requiring interpreter/Patient</label>
             <input type="text" formControlName="interpreter"  class="form-control" placeholder="Name of person requiring interpreter/Patient">
             <div *ngIf="stepEightForm.controls['interpreter'].errors && ( !stepEightForm.controls['interpreter'].pristine || submitted ||stepEightForm.controls['interpreter'].touched )" class="error-msg">
                <div [hidden]="!stepEightForm.controls['interpreter'].errors.required">Interpreter is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
            </div>
          <div class="col-sm-6">
             <label>Language/Languages</label>
             <div class="form-group form-field">
               <!-- <div class="form-field__control" data-fa-icon="&#xf013;"> -->
                 <!-- <input id="pincode" type="text" (change)="func.addFocus()" onKeyPress="if(this.value.length==8) return false;"  (change)="postCheck()" formControlName="pin_code_id" class="form-field__input" placeholder=""/> -->
                 <!-- <label for="pincode" class="form-field__label">Service Area</label> -->
                 <select class="form-control"  formControlName="language" id="language" name="language">
                   <option value="" >Language</option>
                   <option *ngFor="let lan of languageObj">
                      {{lan?.name}}
                   </option>
                 </select>
               <!-- </div> -->
             </div>
             <div *ngIf="stepEightForm.controls['language'].errors && ( !stepEightForm.controls['language'].pristine || submitted ||stepEightForm.controls['language'].touched )" class="error-msg">
                <div [hidden]="!stepEightForm.controls['language'].errors.required">Language is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
          </div>
          <div class="col-sm-6">
             <label>Case/Claim/ID Number</label>
            
             <input type="text"  formControlName="case"  class="form-control" placeholder="Case/Claim/ID Number">
             <div *ngIf="stepEightForm.controls['case'].errors && ( !stepEightForm.controls['case'].pristine || submitted ||stepEightForm.controls['case'].touched )" class="error-msg">
                <div [hidden]="!stepEightForm.controls['case'].errors.required">Case is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
          </div>
          <div class="col-sm-6">
             <label>Date</label>
             <input type="date"  formControlName="date"  class="form-control" placeholder="Date">
             <div *ngIf="stepEightForm.controls['date'].errors && ( !stepEightForm.controls['date'].pristine || submitted ||stepEightForm.controls['date'].touched )" class="error-msg">
                <div [hidden]="!stepEightForm.controls['date'].errors.required">Date is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
          </div>
          <div class="col-sm-6">
             <label>Interpreter Start Time</label>
             <input type="text"  class="form-control"  formControlName="start_time"  placeholder="Interpreter Start Time">
             <div *ngIf="stepEightForm.controls['start_time'].errors && ( !stepEightForm.controls['start_time'].pristine || submitted ||stepEightForm.controls['start_time'].touched )" class="error-msg">
                <div [hidden]="!stepEightForm.controls['start_time'].errors.required">Start time is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
          </div>
              <div class="col-sm-6">
             <label>Anticipated End Time</label>
             <input type="text"  class="form-control" formControlName="end_time" placeholder="Anticipated End Time">
             <div *ngIf="stepEightForm.controls['end_time'].errors && ( !stepEightForm.controls['end_time'].pristine || submitted ||stepEightForm.controls['end_time'].touched )" class="error-msg">
                <div [hidden]="!stepEightForm.controls['end_time'].errors.required">End Time is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
          </div>
          <div class="col-sm-12">
             <label>Additional Notes</label>
             <textarea class="form-control" formControlName="notes"  rows="3" placeholder="Additional Notes"></textarea>
             <div *ngIf="stepEightForm.controls['notes'].errors && ( !stepEightForm.controls['notes'].pristine || submitted ||stepEightForm.controls['notes'].touched )" class="error-msg">
                <div [hidden]="!stepEightForm.controls['notes'].errors.required">Notes is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
          </div>
           <div class="col-sm-12">
             <button type="button" (click)="submitForm8()" class="btn subbtn">Submit</button>
          </div>
       </form>
   </div>
    </div>
