.view_left{
    position: absolute;
    right: 32px;
    top: 36px;
}
.view_label{
    position: absolute;
    right: 20px;
    top: 7px;
}
.view_label1{
    position: absolute;
    right: 28px;
    top: 55px;
}
.view_left1{
    position: absolute;
    right: 33px;
    top: 83px;
}