<div class="breadcrumb">
    <!-- <h1>Language</h1> -->
    <ul class="heading">
        <li><a>Interpreter</a></li>
        <li>Add</li> 
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <form [formGroup]="userForm">

                   
                    <div class="row">
                        <!-- <div class="col-md-6 form-group mb-3">
                            <label for="picker1">Select Role</label>
                            <select class="form-control"  (change)="onChangeRole($event)"  formControlName="user_role">
                                <option value="">Select Role</option>
                                <option *ngFor="let lan of role_Obj" [value]="lan.id">
                                    {{lan?.role_name}}
                                 </option>
                            </select>
                            <div *ngIf="userForm.controls['user_role'].errors && (!userForm.controls['user_role'].pristine || submitted ||userForm.controls['primary_language'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['user_role'].errors.required">Role is required.</div> 
                              </div>
                        </div> -->


                        <div class="col-md-6 form-group mb-3">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Salutation</label>
                                    <select class="form-control" formControlName="title">
                                        <option value="Mr">Mr</option>
                                        <option value="Mrs">Mrs</option>
                                        <option value="Ms">Ms</option>
                                    </select>
                                </div>
                                <div class="col-md-10">
                                    <label for="firstName">First Name</label>
                                    <input type="text" class="form-control" formControlName="first_name"  placeholder="First Name">
                                    <div *ngIf="userForm.controls['first_name'].errors && (!userForm.controls['first_name'].pristine || submitted ||userForm.controls['first_name'].touched )" class="error-msg">
                                        <div [hidden]="!userForm.controls['first_name'].errors.required">First Name is required.</div>
                                        <!-- <div [hidden]="!userForm.controls.first_name.hasError('minlength')">First Name length should be minimum 2 characters.</div>   -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="Last">Last Name</label>
                            <input type="text" class="form-control" (change)="username()" formControlName="last_name"  placeholder="Last Name">
                            <div *ngIf="userForm.controls['last_name'].errors && (!userForm.controls['last_name'].pristine || submitted ||userForm.controls['last_name'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['last_name'].errors.required">Last Name is required.</div>
                                <!-- <div [hidden]="!userForm.controls.last_name.hasError('minlength')">Last Name length should be minimum 2 characters.</div>   -->
                            </div>
                        </div>

                    </div>

                    <div class="row">
                       
                         <div class="col-md-6 form-group mb-3">
                            <label for="email">UserName</label>
                            <input type="text" class="form-control"  formControlName="username" placeholder="UserName" readonly>
                          <i class="i-Repeat-3 user_name" (click)="username()"></i>
                            <!-- <div *ngIf="userForm.controls['user_name'].errors && (!userForm.controls['user_name'].pristine || submitted ||userForm.controls['user_name'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['user_name'].errors.required">User Name is required.</div>
                              </div> -->
                        </div>
                       

                        <div class="col-md-6 form-group mb-3">
                            <label for="email">Email</label>
                            <input type="text" class="form-control"  formControlName="email" (blur)="checkEmail($event,$event.target.value)"  placeholder="Email">
                            <div *ngIf="userForm.controls['email'].errors && (!userForm.controls['email'].pristine || submitted ||userForm.controls['email'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['email'].errors.required">Email is required.</div>
                              </div>
                        </div>

                      
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label>Skype</label>
                            <input type="text" class="form-control" formControlName="skype"  placeholder="skype">
                            <div *ngIf="userForm.controls['skype'].errors && (!userForm.controls['skype'].pristine || submitted ||userForm.controls['skype'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['skype'].errors.required">Skype is required.</div>
                            </div>
                        </div>

                        <div class="col-md-6 form-group mb-3">

                            <div class="row">
                                <div class="col-md-2">
                                    <label>Code</label>
                                    <select class="form-control"  formControlName="country_code">
                                        <option value="" selected disabled>Code</option>
                                        <option *ngFor="let isd of country_Obj"
                                                [value]="isd.id">
                                        +{{isd?.phonecode}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-10">
                                    <label for="MobileNo.">Mobile No.</label>
                                    <input type="text" mask="(000) 000-0000" class="form-control" formControlName="mobile" onkeypress="if(this.value.length==15) return false;return event.charCode >= 48 && event.charCode <= 57 ||event.charCode == '.' || event.charCode == 250 "  placeholder="Mobile">
                                </div>
                            </div>
                            <div *ngIf="userForm.controls['country_code'].errors && ( !userForm.controls['country_code'].pristine || submitted ||userForm.controls['country_code'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['country_code'].errors.required">Code is required.</div>
                            </div>
                           
                            <div *ngIf="userForm.controls['mobile'].errors && (!userForm.controls['mobile'].pristine || submitted ||userForm.controls['mobile'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['mobile'].errors.required">Mobile No. is required.</div>
                            </div>
                        </div>

                       
                    </div>
                    
                     <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="PhoneNo.">Phone No.</label>
                            <input type="text" mask="(000) 000-0000" class="form-control" formControlName="phone_no" onkeypress="if(this.value.length==15) return false;return event.charCode >= 48 && event.charCode <= 57 ||event.charCode == '.' || event.charCode == 250 "  
                            placeholder="Phone No.">
                            <div *ngIf="userForm.controls['phone_no'].errors && (!userForm.controls['phone_no'].pristine || submitted ||userForm.controls['phone_no'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['phone_no'].errors.required">Phone No. is required.</div>
                            </div>
                        </div>


                        <div class="col-md-6 form-group mb-3">
                             <label>International Phone</label>
                            <input type="text" mask="(000) 000-0000" class="form-control" formControlName="international_phone_no" 
                                onkeypress="if(this.value.length==15) return false;return event.charCode >= 48 && event.charCode <= 57 ||event.charCode == '.' || event.charCode == 250 "  
                                placeholder="International Phone">
                            <div *ngIf="userForm.controls['international_phone_no'].errors && (!userForm.controls['international_phone_no'].pristine || submitted ||userForm.controls['international_phone_no'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['international_phone_no'].errors.required">International Phone No. is required.</div>
                            </div>
                        </div>

                    

                            <!-- <div class="col-md-6 form-group mb-3">
                            <label for="Address">Address</label>
                            <input type="text" class="form-control"  formControlName="dob" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                            <div *ngIf="userForm.controls['address'].errors && (!userForm.controls['address'].pristine || submitted ||userForm.controls['address'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['address'].errors.required">Address is required.</div> 
                              </div>
                            </div> -->
                     </div>
                    
                    <!-- <div class="row"> -->
                        
                        <!-- <div class="col-md-6 form-group mb-3">
                            <label for="Apartment">Apt/Ste</label>
                           <input type="text" class="form-control" formControlName="apartment"  placeholder="Apt/Ste">
                            <div *ngIf="userForm.controls['apartment'].errors && (!userForm.controls['apartment'].pristine || submitted ||userForm.controls['apartment'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['apartment'].errors.required">Apt/Ste is required.</div> 
                              </div>
                        </div> -->

                        <!-- <div class="col-md-6 form-group mb-3">
                            <label for="Gender">Gender</label>
                            <div class="form-check">
                                <label class="form-check-label" for="gridRadios1">
                                <input class="form-check-input radio-inline " 
                                (click)="radioButton1()" formControlName="gender" type="radio" id="gridRadios1"
                                    value="Male" checked>
                              
                                    Male
                                </label>
                          
                                <label class="form-check-label pl-5" for="gridRadios2">
                                <input class="form-check-input radio-inline" 
                                (click)="radioButton2()"  formControlName="gender" type="radio" id="gridRadios2"
                                    value="Female">
                             
                                    Female
                                </label>


                                <label class="form-check-label pl-5" for="gridRadios3">
                                    <input class="form-check-input radio-inline" formControlName="gender" type="radio" id="gridRadios3"
                                    (click)="radioButton3()"  value="Other">
                                        Other
                                </label>

                                
                                <label *ngIf="showOther" class="form-check-label pl-5">
                                    <input type="text" class="form-control" 
                                    placeholder="Other" formControlName="other_gender">
                                </label>
                            
                            </div>
                        </div> -->


                        <!-- <div class="col-md-6 form-group mb-3">
                            <label for="Street">Street</label>
                           <input type="text" class="form-control" formControlName="street"  placeholder="Street">
                            <div *ngIf="userForm.controls['street'].errors && (!userForm.controls['street'].pristine || submitted ||userForm.controls['street'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['street'].errors.required">Street is required.</div> 
                              </div>
                        </div> -->
                    <!-- </div> -->

                    <!-- <div class="row">
                        
                       



                        <div class="col-md-6 form-group mb-3">
                            <label for="picker1">Select Primary Language</label>
                            <select class="form-control"  (change)="onChange($event)"  formControlName="primary_language">
                                <option value="">Select Language</option>
                                <option *ngFor="let lan of language_Obj" [value]="lan.id">
                                    {{lan?.name}}
                                 </option>
                            </select>
                            <div *ngIf="userForm.controls['primary_language'].errors && (!userForm.controls['primary_language'].pristine || submitted ||userForm.controls['primary_language'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['primary_language'].errors.required">Language is required.</div> 
                              </div>
                        </div>


                        <div class="col-md-6 form-group mb-3">
                            <label for="Language">Select Secondary Language</label>
                            <tag-input [formControl]="tagsCtrl2" formControlName="languageid" [identifyBy]="'id'" [displayBy]="'name'" (onSelect)="onSelect($event)"
                              theme="primary" placeholder="Type language name">
                              <tag-input-dropdown [focusFirstElement]="true" [autocompleteItems]="language_Obj" displayBy="name" identifyBy="id">
                              </tag-input-dropdown>
                            </tag-input>
                        </div>
                    </div> -->
                <div formArrayName="address" >
                    <!-- <div *ngFor="let items of  userForm.get('address').controls; let i = index"> -->
                        <!-- <div [formGroupName]="i"> -->
                        <div class="row">
                      <div class="col-md-6 form-group mb-3">
                            <label for="Address">Primary Address</label>
                            <input type="text" class="form-control"  formControlName="address" 
                            (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" 
                            autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>

                           
                            <!-- <div *ngIf="userForm.controls['address'].errors && (!userForm.controls['address'].pristine || submitted ||userForm.controls['address'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['address'].errors.required">Primary Address is required.</div> 
                              </div> -->
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="Apt">Apt/Ste</label>
                            <input type="text" class="form-control" formControlName="apartment"  placeholder="Apt/Ste">
                            <!-- <div *ngIf="userForm.controls['address'].errors && (!userForm.controls['address'].pristine || submitted ||userForm.controls['address'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['address'].errors.required">Primary Address is required.</div> 
                              </div> -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label>Country</label>
                           <input type="text" class="form-control" formControlName="country"  placeholder="Country">
                            <!-- <div *ngIf="userForm.controls['address'].errors && (!userForm.controls['address'].pristine || submitted ||userForm.controls['address'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['address'].errors.required">Primary Address is required.</div> 
                              </div> -->
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>State</label>
                           <input type="text" class="form-control" formControlName="state"  placeholder="State">
                            <!-- <div *ngIf="userForm.controls['address'].errors && (!userForm.controls['address'].pristine || submitted ||userForm.controls['address'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['address'].errors.required">Primary Address is required.</div> 
                              </div> -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="City">City</label>
                            <input type="text" class="form-control" formControlName="city"  placeholder="City" >
                            <!-- <div *ngIf="userForm.controls['address'].errors && (!userForm.controls['address'].pristine || submitted ||userForm.controls['address'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['address'].errors.required">Primary Address is required.</div> 
                              </div> -->
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="ZipCode">ZipCode</label>
                            <input type="text" class="form-control" formControlName="zipcode"  placeholder="ZipCode">
                            <!-- <div *ngIf="userForm.controls['address'].errors && (!userForm.controls['address'].pristine || submitted ||userForm.controls['address'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['address'].errors.required">Primary Address is required.</div> 
                              </div> -->
                        </div>

                    <input type="hidden" class="form-control" formControlName="lat" >
                    <input type="hidden" class="form-control" formControlName="long"> 
                    <!-- </div> -->
                    <!-- </div> -->
                    </div>
                </div>

                <!-- <div formArrayName="address">
                    <div class="row">
                      <div class="col-md-6 form-group mb-3">
                            <label for="Address">Secondary Address</label>
                            <input type="text" class="form-control"  formControlName="s_address" 
                            (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location"
                             autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                            <div *ngIf="userForm.controls['s_address'].errors && (!userForm.controls['s_address'].pristine || submitted ||userForm.controls['s_address'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['s_address'].errors.required">Secondary address is required.</div> 
                              </div>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="Apt">Apt/Ste</label>
                            <input type="text" class="form-control" formControlName="apartment"  placeholder="Apt/Ste">
                            <div *ngIf="userForm.controls['address'].errors && (!userForm.controls['address'].pristine || submitted ||userForm.controls['address'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['address'].errors.required">Primary Address is required.</div> 
                              </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label>Country</label>
                           <input type="text" class="form-control" formControlName="country"  placeholder="Country">
                            <div *ngIf="userForm.controls['address'].errors && (!userForm.controls['address'].pristine || submitted ||userForm.controls['address'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['address'].errors.required">Primary Address is required.</div> 
                              </div>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label>State</label>
                           <input type="text" class="form-control" formControlName="state"  placeholder="State">
                            <div *ngIf="userForm.controls['address'].errors && (!userForm.controls['address'].pristine || submitted ||userForm.controls['address'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['address'].errors.required">Primary Address is required.</div> 
                              </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="City">City</label>
                            <input type="text" class="form-control" formControlName="city"  placeholder="City" >
                            <div *ngIf="userForm.controls['address'].errors && (!userForm.controls['address'].pristine || submitted ||userForm.controls['address'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['address'].errors.required">Primary Address is required.</div> 
                              </div>
                        </div>

                        <div class="col-md-6 form-group mb-3">
                            <label for="ZipCode">ZipCode</label>
                            <input type="text" class="form-control" formControlName="zipcode"  placeholder="ZipCode">
                            <div *ngIf="userForm.controls['address'].errors && (!userForm.controls['address'].pristine || submitted ||userForm.controls['address'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['address'].errors.required">Primary Address is required.</div> 
                              </div>
                        </div>

                    <input type="hidden" class="form-control" formControlName="lat" >
                    <input type="hidden" class="form-control" formControlName="long"> 
                    </div> -->



                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label>Company Name</label>
                           <input type="text" class="form-control" formControlName="company_name"  placeholder="Company Name">
                            <div *ngIf="userForm.controls['company_name'].errors && (!userForm.controls['company_name'].pristine || submitted ||userForm.controls['company_name'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['company_name'].errors.required">Company Name is required.</div> 
                              </div>
                        </div>

                      
                        <div class="col-md-6 form-group mb-3">
                            <label>SSN/EIN</label>
                           <input type="text" class="form-control" formControlName="social_security_no"  placeholder="Company Name">
                            <div *ngIf="userForm.controls['social_security_no'].errors && (!userForm.controls['social_security_no'].pristine || submitted ||userForm.controls['social_security_no'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['social_security_no'].errors.required">SSN/EIN is required.</div> 
                              </div>
                        </div>

                    </div>



                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="dob">Date Of Birth</label>
                           <input type="date" class="form-control" formControlName="dob" 
                           (change)="check_dob($event.target.value)" placeholder="Date Of Birth">
                            <div *ngIf="userForm.controls['dob'].errors && (!userForm.controls['dob'].pristine || submitted ||userForm.controls['dob'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['dob'].errors.required">Date Of Birth is required.</div> 
                              </div>
                        </div>

                      
                        <!-- <div class="col-md-6 form-group mb-3">
                            <label for="rate">Rate</label>
                            <input type="text" class="form-control" onkeypress="if(this.value.length==5) return false;return event.charCode >= 48 && event.charCode <= 57 ||event.charCode == '.' || event.charCode == 250 " formControlName="rate"  placeholder="Rate/hour">
                        </div> -->
                        

                        <div class="col-md-6 form-group mb-3">
                            <label for="image">Image</label>
                            <input type="file" class="form-control" (change)="onSingleFileChange($event)" formControlName="image" placeholder="Image">
                            <div *ngIf="userForm.controls['image'].errors && (!userForm.controls['image'].pristine || submitted ||userForm.controls['image'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['image'].errors.required">Image is required.</div> 
                              </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="Gender">Gender</label>
                            <div class="form-check">
                                <label class="form-check-label" for="gridRadios1">
                                <input class="form-check-input radio-inline " 
                               formControlName="gender" type="radio" id="gridRadios1"
                                    value="Male" checked>
                              
                                    Male
                                </label>
                          
                                <label class="form-check-label pl-5" for="gridRadios2">
                                <input class="form-check-input radio-inline" 
                                 formControlName="gender" type="radio" id="gridRadios2"
                                    value="Female">
                             
                                    Female
                                </label>
                            </div>
                            <div *ngIf="userForm.controls['gender'].errors && (!userForm.controls['gender'].pristine || submitted ||userForm.controls['gender'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['gender'].errors.required">Gender is required.</div> 
                              </div>
                        </div>
                    </div>

                    <!-- <div class="row">
                     
                  
                     </div> -->
                    <!-- <input type="hidden" class="form-control" formControlName="latitude" >
                    <input type="hidden" class="form-control" formControlName="longitude">  -->

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="button" (click)="saveUser()" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

