<div class="">
    <div class="breadcrumb">
      <ul class="heading">
          <li><a>New Request</a></li>
          <li>List</li>
      </ul>
  </div>
    
  
      <div class="separator-breadcrumb border-top"></div>
  
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <input id="search" (keyup)="userRequestList($event.target.value)" placeholder="Search" [formControl]="search_name"  class="form-control form-control-rounded" type="text">
          </div>
    </div>
    
    <div class="col-md-4 dummy_text">
      <mat-form-field appearance="fill">
        <!-- <mat-label>Enter a date range</mat-label> -->
        <mat-date-range-input [formGroup]="range" 
        [rangePicker]="picker">
          <input matStartDate formControlName="start_date" (dateChange)="userRequestList($event.target.value)" placeholder="Start date">
          <input matEndDate formControlName="end_date" (dateChange)="userRequestList($event.target.value)" placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    
        <div class="col-md-12 lang_block yellowtable yellowtablenew">
            <div class="card  o-hidden">
                <ngx-datatable *ngIf="filteredUser?.length"
                style="height: 500px; box-shadow: none"
                class="material fullscreen"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="60"
                [scrollbarV]="true"
                [rows]="filteredUser">
                <ngx-datatable-column name="S.No" [sortable]="false" [maxWidth]="100">
                  <ng-template ngx-datatable-header-template>
                   S.No
                  </ng-template>
                  <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex" let-row="row">
                      {{rowIndex +1}}
                  </ng-template>
                 </ngx-datatable-column>

                 <!-- <ngx-datatable-column name="Caseworker" prop="caseworker_name">
                  <ng-template ngx-datatable-header-template>
                    Caseworker
                  </ng-template>
                  <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    {{row.caseworker_name}}
                  </ng-template>
                </ngx-datatable-column> -->
                <ngx-datatable-column name="IR" prop="ir">
                  <ng-template ngx-datatable-header-template>
                    IR
                  </ng-template>
                  <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    {{row.ir}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Client Name" prop="client_name">
                  <ng-template ngx-datatable-header-template>
                    Client Name
                  </ng-template>
                  <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    {{row.client_name}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Name Of Contact Person" prop="name_of_contact_person">
                  <ng-template ngx-datatable-header-template>
                    Contact Person
                  </ng-template>
                  <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    {{row.name_of_contact_person}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                  <ng-template ngx-datatable-header-template name="Email" prop="email">
                      Email
                  </ng-template>
                  <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                      {{row.email}}
                  </ng-template>  
              </ngx-datatable-column>
                 
                <!-- <ngx-datatable-column name="Requester" prop="requester_name">
                  <ng-template ngx-datatable-header-template>
                    Requester
                  </ng-template>
                  <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    {{row.requester_name}} 
                  </ng-template>
                </ngx-datatable-column> -->
                  <!-- <ngx-datatable-column name="Health Department" prop="health_department">
                      <ng-template ngx-datatable-header-template>
                        Health Department
                      </ng-template>
                      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{row.health_department}}
                      </ng-template>
                  </ngx-datatable-column> -->
                  <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template name="Language" prop="lang_name">
                      Language
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{row.lang_name}}
                    </ng-template>  
                </ngx-datatable-column>
                <ngx-datatable-column name="Business" prop="business_bill">
                  <ng-template ngx-datatable-header-template>
                    Business
                  </ng-template>
                  <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    {{row.business_bill}}
                  </ng-template>
                </ngx-datatable-column>  
                  <!-- <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template name="Community Service" prop="north_metro_community_service">
                        Community Service
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{row.north_metro_community_service}}
                    </ng-template>  
                </ngx-datatable-column> -->

                <!-- <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template name="Human Services" prop="human_services">
                        Human Services
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{row.human_services}}
                    </ng-template>  
                </ngx-datatable-column> -->


                <!-- <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template name="AHS Department" prop="ahs_department">
                        AHS Department
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{row.ahs_department}}
                    </ng-template>  
                </ngx-datatable-column> -->


                <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template name="Office Phone" prop="office_phone">
                        Office Phone
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{row.office_phone | mask: '(000) 000-0000'}}
                    </ng-template>  
                </ngx-datatable-column>

                <!-- <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template name="Cell Phone" prop="cell_phone">
                        Cell Phone
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{row.cell_phone}}
                    </ng-template>  
                </ngx-datatable-column> -->

                


                <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template name="Site Contact" prop="site_contact">
                        Site Contact
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                        {{row.site_contact | mask: '(000) 000-0000'}}
                    </ng-template>  
                </ngx-datatable-column>

                <ngx-datatable-column>
                  <ng-template ngx-datatable-header-template>
                    <span title="Requested date">Requested date</span>
                  </ng-template>
                  <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <span title="{{row.created_at}}"> {{row.created_at | date:'MM/dd/yyyy' }}</span>
                  </ng-template>  
              </ngx-datatable-column>

              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  <span title="Appointment date"> Appointment date</span>
                </ng-template>
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                  <span title="{{row.date}}">{{row.date | date:'MM/dd/yyyy' }}</span>
                </ng-template>  
            </ngx-datatable-column>

              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                    Status
                </ng-template>
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <p *ngIf="row.is_reject == '0'">New</p>
                    <p *ngIf="row.is_reject == '1'">Repeat</p>
                </ng-template>  

            </ngx-datatable-column>

              <ngx-datatable-column [width]="120" [sortable]="false">
                <ng-template ngx-datatable-header-template>
                    Actions
                </ng-template>
                <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                    <button class="btn btn-outline-secondary" (click)="viewDetail(row.id)">View</button>  
                    <button class="btn btn-outline-secondary ml-2" *ngIf="roleId=='1'" (click)="assignMyNearbyInterpreter(row.id,row)">Broadcast</button>  
                    <!-- <button class="btn btn-outline-success ml-2" (click)="editUser(row.id,row)" [routerLink]="['/users/user-edit', row.id]">Assign</button> -->
                </ng-template>
            </ngx-datatable-column>

              </ngx-datatable>
            </div>
          <ng-container *ngIf="list_Obj?.length <= 0">
              No Data Found
          </ng-container>
        </div>
    </div>
</div>  
