<div class="breadcrumb">
    <!-- <h1>Language</h1> -->
    <ul class="heading">
        <li><a>User</a></li>
        <li>Edit</li> 
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <form [formGroup]="userEditForm">
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="picker1">User Role</label>
                            <select class="form-control" formControlName="user_role">
                                <option *ngFor="let role of role_Obj" [value]="role.id" [selected]="role.id=='user_role'">
                                    {{role?.role_name}}
                                 </option>
                            </select>
                            
                        </div>


                        <div class="col-md-6 form-group mb-3">
                            <label for="firstName">Name</label>
                            <input type="text" class="form-control" formControlName="name"> 
                        </div>

                    </div>



                    <div class="row">
                        
                        <div class="col-md-6 form-group mb-3">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" formControlName="email"  placeholder="Email">
                        </div>


                        <div class="col-md-6 form-group mb-3">
                            <label for="MobileNo.">Mobile No.</label>
                            <input type="text" class="form-control" formControlName="mobile" onkeypress="if(this.value.length==15) return false;return event.charCode >= 48 && event.charCode <= 57 ||event.charCode == '.' || event.charCode == 250 "  placeholder="Mobile">
                        </div>
                    </div>
                    <div class="row">
                       
                        <!-- <div class="col-md-6 form-group mb-3">
                            <label for="Address">Address</label>
                            <input type="text" class="form-control" formControlName="address"  placeholder="Address">
                        </div> -->
                        <div class="col-md-6 form-group mb-3">
                            <label for="Address">Address</label>
                            <input type="text" class="form-control"  formControlName="address" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
                            <!-- <div *ngIf="userForm.controls['address'].errors && (!userForm.controls['address'].pristine || submitted ||userForm.controls['address'].touched )" class="error-msg">
                                <div [hidden]="!userForm.controls['address'].errors.required">Address is required.</div> 
                              </div> -->
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="Address">Gender</label>
                           
                              
                            <div class="form-check">
                                <label class="form-check-label" for="gridRadios1">
                                <input class="form-check-input radio-inline " formControlName="gender" type="radio" id="gridRadios1"
                                    value="Male">
                              
                                    Male
                                </label>
                          
                                <label class="form-check-label pl-5" for="gridRadios2">
                                <input class="form-check-input radio-inline" formControlName="gender" type="radio" id="gridRadios2"
                                    value="Female">
                             
                                    Female
                                </label>
                            </div>
                        </div>

                    </div>
                
    
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="picker1">Select Primary Language</label>
                            <select class="form-control"  (change)="onChange($event)"  formControlName="primary_lang_id">
                                <!-- <option value="">Select Language</option> -->
                                <option *ngFor="let lan of language_Obj" [value]="lan.id"  [selected]="lan.id==='primary_lang_id'">
                                    {{lan?.name}}
                                 </option>
                            </select>
                            <div *ngIf="userEditForm.controls['primary_lang_id'].errors && (!userEditForm.controls['primary_lang_id'].pristine || submitted ||userEditForm.controls['primary_lang_id'].touched )" class="error-msg">
                                <div [hidden]="!userEditForm.controls['primary_lang_id'].errors.required">Language is required.</div> 
                              </div>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="language">Select Secondary Language</label>
                            <tag-input [formControl]="tagsCtrl2" formControlName="languageid" [identifyBy]="'id'" [displayBy]="'name'" (onSelect)="onSelect($event)"
                              theme="primary" placeholder="Type language name">
                              <tag-input-dropdown [focusFirstElement]="true" [autocompleteItems]="language_Obj" displayBy="name" identifyBy="id">
                              </tag-input-dropdown>
                            </tag-input>
                            <div *ngIf="userEditForm.controls['languageid'].errors && (!userEditForm.controls['languageid'].pristine || submitted ||userEditForm.controls['languageid'].touched )" class="error-msg">
                                <div [hidden]="!userEditForm.controls['languageid'].errors.required">Secondary Language is required.</div> 
                              </div>
                        </div>
                    </div>

                    
                    <div class="row">
                        <div *ngIf="data.role_id == '2'"  class="col-md-6 form-group mb-3">
                                <label for="rate">Rate</label>
                                <input type="text" class="form-control" onkeypress="if(this.value.length==5) return false;return event.charCode >= 48 && event.charCode <= 57 ||event.charCode == '.' || event.charCode == 250 " formControlName="rate"  placeholder="Rate/hour">
                                <!-- <div *ngIf="userForm.controls['rate'].errors && (!userForm.controls['rate'].pristine || submitted ||userForm.controls['rate'].touched )" class="error-msg">
                                    <div [hidden]="!userForm.controls['rate'].errors.required">Rate is required.</div>
                                </div> -->
                        </div>
                    </div>

                    <input type="hidden" class="form-control" formControlName="latitude" >
                    <input type="hidden" class="form-control" formControlName="longitude"> 

                    
                    <div class="form-group row">
                        <div class="col-sm-12">
                         <button type="button" (click)="submitUser()" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



