<div class="container">
	<div class="row" style="margin-top:40px;">
		<div class="col-md-6 outer-box">
    	<div class="well well-sm">
            <div class="row">
                <div class="col-md-12">
                  <form [formGroup]="ratingForm">
                    <label class="">Your message</label>
                    <div class="form-group text-center">
                      <textarea class="form-control animated" formControlName="review" cols="50" id="new-review" name="comment" placeholder="Enter your review here..." rows="5"></textarea>
                    </div>
                  <label class="">Your rating</label>
                   <div class="form-group">
                      <ngb-rating [max]="5" formControlName="rating"></ngb-rating>
                      <div *ngIf="ratingForm.controls['rating'].errors && ( !ratingForm.controls['rating'].pristine || submitted ||ratingForm.controls['rating'].touched )" class="error-msg">
                        <div [hidden]="!ratingForm.controls['rating'].errors.required">Rating is required.</div>
                      </div> 
                    </div>
                  <div class="text-center">
                    <button class="btn btn-success btn-lg"  (click)="submitForm1();ratingForm.reset()" type="button">Submit</button>
                    <button class="btn btn-danger btn-lg ml-2" type="button">Cancel</button>
                   </div>
                  </form>
                </div>
            </div>
        </div> 
         
		</div>
	</div>
</div>







