input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.dropdown_btn{
  position: absolute;
    right: -74px;
    bottom: 0px;
}
a.btn.btn-primary.change_btn.mt-4 {
  color: white;
}