<div class="container">
    <div class="row">
       <div class="col-sm-12 text-center">
          <h4>Requesting Interpreting Services</h4>
          <p>Interpreting services can be requested via phone or email.</p>
          <p><b>Contacts:</b> Michael House and Daisy Reyes</p>
          <p><b>Phone:</b> (303) 274-2634</p>
          <p><b>Email:</b> sitc@cescols.com</p>
       </div>
   </div>
       <div class="row mainblock">
       <div class="col-sm-12">
          <h3>Information Required:</h3>
          <div class="title-wrap">
             <h4 class="cart-bottom-title section-bg-gray">Requester Information</h4>
          </div>
       </div>
       <form [formGroup]="stepTwoForm">
          <div class="col-sm-6">
             <label>Caseworker Name</label>
             <input type="text" formControlName="caseworker_name" class="form-control" placeholder="Caseworker Name">
             <div *ngIf="stepTwoForm.controls['caseworker_name'].errors && ( !stepTwoForm.controls['caseworker_name'].pristine || submitted ||stepTwoForm.controls['caseworker_name'].touched )" class="error-msg">
                <div [hidden]="!stepTwoForm.controls['caseworker_name'].errors.required">Caseworker Name is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
            </div>
          <div class="col-sm-6">
             <label>Requester Name (if different than caseworker)</label>
             <input type="text" formControlName="requester_name"  class="form-control" placeholder="Requester Name (if different than caseworker)">
             <div *ngIf="stepTwoForm.controls['requester_name'].errors && ( !stepTwoForm.controls['requester_name'].pristine || submitted ||stepTwoForm.controls['requester_name'].touched )" class="error-msg">
                <div [hidden]="!stepTwoForm.controls['requester_name'].errors.required">Requester Name is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
            </div>
          <div class="col-sm-6">
             <label>AHS Department/Division</label>
             <input type="text" formControlName="ahs_department"  class="form-control" placeholder="AHS Department/Division">
             <div *ngIf="stepTwoForm.controls['ahs_department'].errors && ( !stepTwoForm.controls['ahs_department'].pristine || submitted ||stepTwoForm.controls['ahs_department'].touched )" class="error-msg">
                <div [hidden]="!stepTwoForm.controls['ahs_department'].errors.required">AHS Department is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
            </div>
          <div class="col-sm-6">
             <label>Office Phone</label>
             <input type="text" formControlName="office_phone" class="form-control" placeholder="Office Phone">
             <div *ngIf="stepTwoForm.controls['office_phone'].errors && ( !stepTwoForm.controls['office_phone'].pristine || submitted ||stepTwoForm.controls['office_phone'].touched )" class="error-msg">
                <div [hidden]="!stepTwoForm.controls['office_phone'].errors.required">Office Phone is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
            </div>
          <div class="col-sm-6">
             <label>Cell Phone</label>
             <input type="text" formControlName="cell_phone"  class="form-control" placeholder="Cell Phone">
             <div *ngIf="stepTwoForm.controls['cell_phone'].errors && ( !stepTwoForm.controls['cell_phone'].pristine || submitted ||stepTwoForm.controls['cell_phone'].touched )" class="error-msg">
                <div [hidden]="!stepTwoForm.controls['cell_phone'].errors.required">Cell Phone is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
            </div>
          <div class="col-sm-6">
             <label>Email Address</label>
             <input type="text"  formControlName="email_address" class="form-control" placeholder="Email Address">
             <div *ngIf="stepTwoForm.controls['email_address'].errors && ( !stepTwoForm.controls['email_address'].pristine || submitted ||stepTwoForm.controls['email_address'].touched )" class="error-msg">
                <div [hidden]="!stepTwoForm.controls['email_address'].errors.required">Email Address is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
            </div>
          <div class="col-sm-12">
             <label>Site Contact (if different from caseworker/requester)</label>
             <input type="text" formControlName="site_contact"  class="form-control" placeholder="Site Contact (if different from caseworker/requester)">
             <div *ngIf="stepTwoForm.controls['site_contact'].errors && ( !stepTwoForm.controls['site_contact'].pristine || submitted ||stepTwoForm.controls['site_contact'].touched )" class="error-msg">
                <div [hidden]="!stepTwoForm.controls['site_contact'].errors.required">Site Contact is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
            </div>
          <div class="col-sm-12">
             <div class="title-wrap">
                <h4 class="cart-bottom-title section-bg-gray">Appointment Information</h4>
             </div>
          </div>
          <div class="col-sm-6">
             <label>Case Name</label>
             <input type="text" formControlName="case_name" class="form-control" placeholder="Case Name">
             <div *ngIf="stepTwoForm.controls['case_name'].errors && ( !stepTwoForm.controls['case_name'].pristine || submitted ||stepTwoForm.controls['case_name'].touched )" class="error-msg">
                <div [hidden]="!stepTwoForm.controls['case_name'].errors.required">Case Name is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
            </div>
          <div class="col-sm-6">
             <label>Client Name (first and last, as relevant)</label>
             <input type="text"  formControlName="client_name" class="form-control" placeholder="Client Name (first and last, as relevant)">
             <div *ngIf="stepTwoForm.controls['client_name'].errors && ( !stepTwoForm.controls['client_name'].pristine || submitted ||stepTwoForm.controls['client_name'].touched )" class="error-msg">
                <div [hidden]="!stepTwoForm.controls['client_name'].errors.required">Client Name is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
            </div>
          <div class="col-sm-6">
             <label>Trails / Ref#</label>
             <input type="text" formControlName="trails" class="form-control" placeholder="Trails / Ref#">
             <div *ngIf="stepTwoForm.controls['trails'].errors && ( !stepTwoForm.controls['trails'].pristine || submitted ||stepTwoForm.controls['trails'].touched )" class="error-msg">
                <div [hidden]="!stepTwoForm.controls['trails'].errors.required">Trails is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
            </div>
          <div class="col-sm-6">
             <label>Language</label>
             <div class="form-group form-field">
                <!-- <div class="form-field__control" data-fa-icon="&#xf013;"> -->
                  <!-- <input id="pincode" type="text" (change)="func.addFocus()" onKeyPress="if(this.value.length==8) return false;"  (change)="postCheck()" formControlName="pin_code_id" class="form-field__input" placeholder=""/> -->
                  <!-- <label for="pincode" class="form-field__label">Service Area</label> -->
                  <select class="form-control" (change)="onChange($event)" formControlName="language" id="language" name="language">
                    <option value="" >Language</option>
                    <option *ngFor="let lan of languageObj" [value]="lan.id">
                       {{lan?.name}}
                    </option>
                  </select>
                <!-- </div> -->
              </div>
              <div *ngIf="stepTwoForm.controls['language'].errors && ( !stepTwoForm.controls['language'].pristine || submitted ||stepTwoForm.controls['language'].touched )" class="error-msg">
                <div [hidden]="!stepTwoForm.controls['language'].errors.required">Language is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
          </div>
          <div class="col-sm-6">
             <label>Nature of Appointment / Appointment type</label>
             <input type="text"  formControlName="nature_of_appointment" class="form-control" placeholder="Nature of Appointment / Appointment type">
             <div *ngIf="stepTwoForm.controls['nature_of_appointment'].errors && ( !stepTwoForm.controls['nature_of_appointment'].pristine || submitted ||stepTwoForm.controls['nature_of_appointment'].touched )" class="error-msg">
                <div [hidden]="!stepTwoForm.controls['nature_of_appointment'].errors.required">Nature of Appointment is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
            </div>
          <div class="col-sm-6">
             <label>Date</label>
             <input type="date" formControlName="date" class="form-control" placeholder="Date">
             <div *ngIf="stepTwoForm.controls['date'].errors && ( !stepTwoForm.controls['date'].pristine || submitted ||stepTwoForm.controls['date'].touched )" class="error-msg">
                <div [hidden]="!stepTwoForm.controls['date'].errors.required">Date is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
            </div>
          <div class="col-sm-6">
             <label>Start Time</label>
             <input type="time" formControlName="start_time" class="form-control" placeholder="Start Time">
             <div *ngIf="stepTwoForm.controls['start_time'].errors && ( !stepTwoForm.controls['start_time'].pristine || submitted ||stepTwoForm.controls['start_time'].touched )" class="error-msg">
                <div [hidden]="!stepTwoForm.controls['start_time'].errors.required">Start Time is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
            </div>  
          <div class="col-sm-6">
             <label>Anticipated End Time</label>
             <input type="time" formControlName="end_time" class="form-control" placeholder="Anticipated End Time">
             <div *ngIf="stepTwoForm.controls['end_time'].errors && ( !stepTwoForm.controls['end_time'].pristine || submitted ||stepTwoForm.controls['end_time'].touched )" class="error-msg">
                <div [hidden]="!stepTwoForm.controls['end_time'].errors.required">End Time is required.</div>
                <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div>
            </div>
          <div class="col-sm-6">
             <label>If simultaneous, how many receivers required?</label>
             <!-- <input type="text" formControlName="simultaneous"  class="form-control" placeholder="If simultaneous, how many receivers required?">
             <div *ngIf="stepTwoForm.controls['simultaneous'].errors && ( !stepTwoForm.controls['simultaneous'].pristine || submitted ||stepTwoForm.controls['simultaneous'].touched )" class="error-msg">
                <div [hidden]="!stepTwoForm.controls['simultaneous'].errors.required">Simultaneous is required.</div>
              </div> -->
              <input type="radio" formControlName="simultaneous"  value="0">No
              <input type="radio" formControlName="simultaneous"  value="1">Yes
              <div *ngIf="stepTwoForm.controls['simultaneous'].errors && ( !stepTwoForm.controls['simultaneous'].pristine || submitted ||stepTwoForm.controls['simultaneous'].touched )" class="error-msg">
                 <div [hidden]="!stepTwoForm.controls['simultaneous'].errors.required">Simultaneous is required.</div>
                 <!-- <div [hidden]="!stepTwoForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
               </div> 
            </div>
          <div class="col-sm-6">
             <label>Service Requested</label>
             <input type="radio" formControlName="service_requested"  value="1">Consecutive 
             <input type="radio" formControlName="service_requested"  value="2">Simultaneous 
             <div *ngIf="stepTwoForm.controls['service_requested'].errors && ( !stepTwoForm.controls['service_requested'].pristine || submitted ||stepTwoForm.controls['service_requested'].touched )" class="error-msg">
                <div [hidden]="!stepTwoForm.controls['service_requested'].errors.required">Service Requested is required.</div>
                <!-- <div [hidden]="!stepOneForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div> 
            </div>
          <div class="col-sm-12">
             <label>Address</label>
             <textarea formControlName="address" class="form-control" rows="3" placeholder="Address"></textarea>
             <div *ngIf="stepTwoForm.controls['address'].errors && ( !stepTwoForm.controls['address'].pristine || submitted ||stepTwoForm.controls['address'].touched )" class="error-msg">
                <div [hidden]="!stepTwoForm.controls['address'].errors.required">Address is required.</div>
                <!-- <div [hidden]="!stepOneForm.controls.caseworker_name.hasError('minlength')">caseworker_name length should be minimum 2 characters.</div> -->
              </div> 
          </div>
           <div class="col-sm-12">
             <button type="button" (click) ="submitForm2()" class="btn subbtn">Submit</button>
          </div>
       </form>
   </div>
    </div>
