<div class="breadcrumb">
    <!-- <h1>Language</h1> -->
    <ul class="heading">
        <li><a>Language</a></li>
        <li>Add</li> 
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <form [formGroup]="langaugeForm">

                    <div class="row">
                        
                        <div class="col-md-6 form-group mb-3">
                            <label for="language">Language Title</label>
                            <input type="text" class="form-control" formControlName="name" id="name" placeholder="Language Title">
                            <div *ngIf="langaugeForm.controls['name'].errors && (!langaugeForm.controls['name'].pristine || submitted ||langaugeForm.controls['name'].touched )" class="error-msg">
                                <div [hidden]="!langaugeForm.controls['name'].errors.required">Language Title is required.</div>
                              </div>
                        </div>


                        <div class="col-md-6 form-group mb-3">
                            <label for="MobileNo.">Language Code.</label>
                            <input type="text" class="form-control" formControlName="code" id="code" (blur)="check_language($event,$event.target.value)" 
                            placeholder="code">
                            <div *ngIf="langaugeForm.controls['code'].errors && (!langaugeForm.controls['code'].pristine || submitted ||langaugeForm.controls['code'].touched )" class="error-msg">
                                <div [hidden]="!langaugeForm.controls['code'].errors.required">Language Code is required.</div>
                              </div>
                        </div>
                    </div>

                    <div class="row">
                        
                        <div class="col-md-6 form-group mb-3">
                            <label for="country">Country</label>
                            <input type="text" class="form-control"  formControlName="country"  placeholder="Country">
                            <div *ngIf="langaugeForm.controls['country'].errors && (!langaugeForm.controls['country'].pristine || submitted ||langaugeForm.controls['country'].touched )" class="error-msg">
                                <div [hidden]="!langaugeForm.controls['country'].errors.required">Country is required.</div>
                              </div>
                        </div>


                        <div class="col-md-6 form-group mb-3">
                            <label for="country">Note</label>
                            <input type="text" class="form-control"  formControlName="description"  placeholder="Note">
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-12">
                            <!-- <button type="button" (click)="saveUser()" class="btn btn-primary">Save</button> -->
                            <button type="button" (click)="addLanguage()" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

