<div>
  <div class="d-flex pl-3 pr-3 pt-2 pb-2 o-hidden box-shadow-1 chat-topbar">
    <a appSidebarToggler="chat-sidebar" class="link-icon d-md-none">
      <i class="icon-regular i-Right ml-0 mr-3"></i>
    </a>
    <div class="d-flex align-items-center" *ngIf="variable.user_chat_img">
      <img src="http://192.168.0.4:3300/user/{{message.profile_img}}" 
      class="avatar-sm rounded-circle mr-2">
      <p class="m-0 text-title text-16 flex-grow-1">{{message?.name}}</p>
    </div>
  </div>

  <div [perfectScrollbar]="{suppressScrollX: true}" class="chat-content rtl-ps-none" *ngIf="variable.loadingCollection">
    <div *ngFor="let chat of messageList" class="mb-4">

      <div *ngIf="chat.senderId == userId">
        <div class="d-flex user">

          <img src="http://192.168.0.4:3300/user/{{login_data.profile_img}}" class="avatar-sm rounded-circle mr-3">
          <div class="message flex-grow-1">
            
            <div class="d-flex">
              <p class="mb-1 text-title text-16 flex-grow-1">{{loggeduser}}</p>
              <span class="text-small text-muted">{{chat.sendTimestamp * 1000 | date}}</span>
            </div>
             <p class="m-0" *ngIf="chat.msgType=='text'">{{chat.msg}}</p>
             <div class="images">
             <p class="m-0" *ngIf="chat.msgType=='image'">
               <img src="{{chat.msg}}" class="zoom mr-3" id="show" style="width:100px; height:100px;"></p>
               <div class="overlay">
                <a *ngIf="chat.msgType !='text'" class="icon">
                    <i class="i-Download" title="Download Image" (click)="downloadUrl(chat.msg)">
                   </i>  
                   <span class="ml-2">
                    <a  href="#" target="_blank">
                    <i class="i-Information" title="View Image" (click)="imgview(chat.msg)"></i>
                    </a>
                  </span>
                </a>
                </div>
              </div>
          </div>
        </div>
       </div> 
      <br>
      <div *ngIf="chat.senderId == message.id">
      <div class="d-flex">
        <!-- <div class="d-flex"> -->

        <div class="message flex-grow-1">
          <div class="d-flex">
            <p class="mb-1 text-title text-16 flex-grow-1">{{message?.name}}</p>
            <span class="text-small text-muted">{{chat.sendTimestamp * 1000 | date}}</span>
          </div>
          <!-- <p class="m-0">{{chat.msg}}</p> -->

          <p class="m-0" *ngIf="chat.msgType=='text'">{{chat.msg}}</p>
          <div class="images">
          <p class="m-0" *ngIf="chat.msgType=='image'" >
            <img  src="{{chat.msg}}" class="mr-3" style="width:100px; height:100px;"></p>
            <div class="overlay">
              <a *ngIf="chat.msgType !='text'" class="icon" title="User Profile">
                <a [href]="chat.msg" target="_self" download="image"><i class="i-Download" (click)="download(chat)">
                 </i> </a>
                <span class="ml-2"><i class="i-Information" (click)="imgview(chat,imageModal)"></i>
                </span>
              </a>
              </div>
          </div>
        </div>
        <img src="http://192.168.0.4:3300/user/{{message.profile_img}}" class="avatar-sm rounded-circle ml-3">
      </div>
    </div>
    </div>
  </div>


  <div class="pl-3 pr-3 pt-3 pb-3 box-shadow-1 chat-input-area" *ngIf="variable.loadingCollection">
    <form #msgForm="ngForm" class="inputForm">
      <div class="form-group">
        <textarea class="form-control form-control-rounded" #msgInput ngModel placeholder="Type your message"
          name="message" id="message" cols="30" rows="3"></textarea>
      </div>
      <div class="d-flex">
        <div class="flex-grow-1"></div>
        <button type="button" (click)="message_send($event)" (keyup.enter)="message_send($event)" class="btn btn-icon btn-rounded btn-primary mr-2">
          <i class="i-Paper-Plane"></i>
        </button>
        <!-- <button class="btn btn-icon btn-rounded btn-outline-primary"> -->
        <div class="image-upload">
          <label for="file-input">
            <div class="btn btn-icon btn-rounded btn-outline-primary">
            <i class="i-Add-File"></i>
          </div>
          </label>
      
          <input id="file-input" type="file" (change)="onSingleFileChange($event)"/>
      </div>
      <!-- </button> -->
        <!-- <button class="btn btn-icon btn-rounded btn-outline-primary"  >
          <input type="file" (change)="onSingleFileChange($event)">
          <i class="i-Add-File"></i>
        </button> -->
      </div>
    </form>
  </div>

  <div class="spinner-glow spinner-glow-warning" *ngIf="!variable.loadingCollection"></div>

  <div class="app-inro-circle" *ngIf="!variable.loadingCollection">
    <div class="border rounded-circle big-bubble"
      [@animate]="{value:'*',params:{scale:'.2',delay:'400ms', duration: '400ms'}}">
      <i class="i-Speach-Bubbles"></i>
    </div>
    <p class="text-16" [@animate]="{value:'*',params:{y:'120px',delay:'600ms', duration: '400ms'}}">Select a contact and
      start chat.</p>
  </div>

</div>

<ng-template #imageModal let-modal>
  <div class="modal-header">
      <!-- <h4 class="modal-title" id="modal-title">Alert</h4> -->

      <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
    <img src="{{img}}" class="zoom mr-3" style="width:473px; height:300px;">
  <!-- </p> -->
      <!-- <p><strong>Are you sure? you want to delete language.</strong></p> -->
  </div>
  
</ng-template>