<div class="breadcrumb">
    <!-- <h1>Language</h1> -->
    <ul class="heading">
        <li><a>Change Password</a></li>
        <!-- <li>Add</li>  -->
    </ul>
</div>
<div class="separator-breadcrumb border-top"></div>
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <form [formGroup]="adminProfileForm">
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="name">Old Password</label>
                            <input  class="form-control" formControlName="old_password" id="old_password" placeholder="Old Password">
                            <!-- <span class="eye-icon"><ion-icon name="eye-sharp"></ion-icon></span> -->
                         
                            <div *ngIf="adminProfileForm.controls['old_password'].errors && ( !adminProfileForm.controls['old_password'].pristine || submitted ||adminProfileForm.controls['old_password'].touched )" class="error-msg">
                                <div [hidden]="!adminProfileForm.controls['old_password'].errors.required">Old Password is required.</div>
                                <!-- <div [hidden]="!adminProfileForm.controls.old_password.hasError('minlength')">Current Password length should be minimum 6 characters.</div> -->
                                 <div [hidden]="!adminProfileForm.controls.old_password.hasError('minlength')">Invalid Password.</div>
                            </div>
                        </div>
                        <div class="col-md-6 form-group mb-3">
                            <label for="new_pass">New Password</label>
                            <input type="password" class="form-control" formControlName="new_password" id="new_password" placeholder="New Password"
                                placeholder="New Password">
                                <div *ngIf="adminProfileForm.controls['new_password'].errors && ( !adminProfileForm.controls['new_password'].pristine || submitted ||adminProfileForm.controls['new_password'].touched )" class="error-msg">
                                    <div [hidden]="!adminProfileForm.controls['new_password'].errors.required">New Password is required.</div>
                                    <div [hidden]="!adminProfileForm.controls.new_password.hasError('minlength')">New Password length should be minimum 6 characters.</div>
                                </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="Confirm">Confirm Password</label>
                            <input type="password"  [type]="showHideBtn ? 'password' : 'text'" class="form-control" formControlName="confirm_pass" placeholder="Confirm Password">
                            <a href="javascript:void(0);" (click)="showHidePassword()" id="show"><span class="eye-icon"
                                [ngClass]="{'fa': true, 'fa-eye': (!showHideBtn), 'fa-eye-slash': (showHideBtn)}"></span></a>
                            <div *ngIf="adminProfileForm.controls['confirm_pass'].errors && ( !adminProfileForm.controls['confirm_pass'].pristine || submitted || adminProfileForm.controls['confirm_pass'].touched )" class="error-msg">
                                <div [hidden]="!adminProfileForm.controls['confirm_pass'].errors.required">Confirm Password is required.</div>
                                <div [hidden]="!adminProfileForm.controls['confirm_pass'].errors.mustMatch">Password and Confirm Password does not match.</div>
                              </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <!-- <button type="button" (click)="saveUser()" class="btn btn-primary">Save</button> -->
                            <button type="button" (click)="change_pass()" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>