<div class="breadcrumb">
    <!-- <h1>Language</h1> -->
    <ul class="heading">
        <li><a>LOB</a></li>
        <li>{{Check}}</li> 
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <!-- <form [formGroup]="langaugeForm"> -->
                <form [formGroup]="langaugeEditForm" (ngSubmit)="submitEdit()">
                    <div class="row">
                        
                        <div class="col-md-6 form-group mb-3">
                            <label for="language">Name</label>
                            <input type="text" class="form-control" formControlName="name" id="name" placeholder="Language Title">
                            <div *ngIf="langaugeEditForm.controls['name'].errors && (!langaugeEditForm.controls['name'].pristine || submitted ||langaugeEditForm.controls['name'].touched )" class="error-msg">
                                <div [hidden]="!langaugeEditForm.controls['name'].errors.required">Name is required.</div>
                              </div>
                        </div>
                        </div>




                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary">{{Check == 'Add' ? 'Save': 'Update'}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






    