<div class="breadcrumb">
    <!-- <h1>Language</h1> -->
    <ul class="heading">
        <li><a>Language</a></li>
        <li>Edit</li> 
    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
                <!-- <form [formGroup]="langaugeForm"> -->
                <form [formGroup]="langaugeEditForm" (ngSubmit)="submitEdit()">
                    <div class="row">
                        
                        <div class="col-md-6 form-group mb-3">
                            <label for="language">Language Title</label>
                            <input type="text" class="form-control" formControlName="name" id="name" placeholder="Language Title">
                            <div *ngIf="langaugeEditForm.controls['name'].errors && (!langaugeEditForm.controls['name'].pristine || submitted ||langaugeEditForm.controls['name'].touched )" class="error-msg">
                                <div [hidden]="!langaugeEditForm.controls['name'].errors.required">Language Title is required.</div>
                              </div>
                        </div>


                        <div class="col-md-6 form-group mb-3">
                            <label for="MobileNo.">Language Code.</label>
                            <input type="text" class="form-control" formControlName="code" disabled id="code" 
                            placeholder="code">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="country">Country</label>
                            <input type="text" class="form-control" formControlName="country" placeholder="Country">
                            
                        </div>


                        <div class="col-md-6 form-group mb-3">
                            <label for="country">Note</label>
                            <input type="text" class="form-control"  formControlName="description"  placeholder="Note">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group mb-3">
                            <label for="Bonus">Base Rate (Average)</label>
                            <input type="text" class="form-control"  formControlName="base_rate" placeholder="Base Rate (Average)">
                            <!-- <div *ngIf="langaugeForm.controls['bonus'].errors && (!langaugeForm.controls['bonus'].pristine || submitted ||langaugeForm.controls['bonus'].touched )" class="error-msg">
                                <div [hidden]="!langaugeForm.controls['bonus'].errors.required">Bonus is required.</div>
                              </div> -->
                        </div>
                    </div>



                    <div class="form-group row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






    