<div class="breadcrumb">
    <ul class="heading">
        <li><a>Language </a></li>
        <li>ExcelImport</li>
    </ul>
</div>
<div class="separator-breadcrumb border-top"></div>
<div class="row">
  <div class="col-sm-9 offset-sm-1 borderflow">
  <div class="container excellport">
  <p>Select a file on your computer that contains the data that you would like to import or download the template to get a head start on creating the import file.</p>
  <form [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="form-group">
          <div class="input-group mb-3"><div class="input-group-prepend"><span id="inputGroupFileAddon01" class="input-group-text">Upload</span></div><div class="custom-file"><input type="file" formControlName="image" (change)="uploadFile($event)" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" class="custom-file-input"><label for="inputGroupFile01" class="custom-file-label">Choose file</label></div></div>
          <div class="text-right">
          <button (click)="exportAsXLSX()" class="btn btn-info mb-2  mt-3 text-right">Download Excel</button>
            <button class="btn btn-primary mt-2 ml-2 text-right">Import</button>
        </div>
      </div>
</form>
</div>
     </div>
 </div>
 <!--      <div class="form-group"> -->
        
          <!-- <button class="btn btn-danger btn-block btn-lg">Create</button> -->
   <!--    </div> -->
 