<div class="">
    <div class="breadcrumb">
        <ul class="heading">
            <li>
                <a *ngIf="statusId == 0">New Request</a>
                <a *ngIf="statusId == 1">Broadcasting</a>
                <a *ngIf="statusId == 2">In Progress</a>
                <a *ngIf="statusId == 3">Completed</a>
                <a *ngIf="statusId == 4">Cancelled</a>
                <a *ngIf="statusId == 5">All Request</a>
            </li>
            <li>List</li>
        </ul>
    </div>

    <div class="separator-breadcrumb border-top"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input id="search" (keyup)="userRequestList($event.target.value)" placeholder="Client Name Search" [formControl]="search_name" class="form-control form-control-rounded" type="text">
            </div>
        </div>

        <!-- <div class="col-md-4 dummy_text">
            <mat-form-field appearance="fill">
             
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                    <input matStartDate formControlName="start_date" (dateChange)="userRequestList($event.target.value)" placeholder="Start date">
                    <input matEndDate formControlName="end_date" (dateChange)="userRequestList($event.target.value)" placeholder="End date">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div> -->

        <div class="col-md-12 lang_block yellowtable yellowtablenew">
            <div class="card  o-hidden">
                <ngx-datatable *ngIf="filteredUser?.length" style="height: 500px; box-shadow: none" class="material fullscreen" [columnMode]="'force'" [rowClass]="getRowClass" [headerHeight]="50" [footerHeight]="50" [rowHeight]="60" [scrollbarV]="true" [rows]="filteredUser">
                    <ngx-datatable-column name="S.No" [sortable]="false" [maxWidth]="100">
                        <ng-template ngx-datatable-header-template>
                            S.No
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-rowIndex="rowIndex" let-row="row">
                            {{rowIndex +1}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="IR" prop="ir">
                        <ng-template ngx-datatable-header-template>
                            IR
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            {{row.ir}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Client Name" prop="client_name">
                        <ng-template ngx-datatable-header-template>
                            Client Name
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            {{row.client_name}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="LOB" prop="lob_name">
                        <ng-template ngx-datatable-header-template>
                            LOB
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            {{row.lob_name}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Assignment Type" prop="assignment_type">
                        <ng-template ngx-datatable-header-template>
                            Assignment Type
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            {{row.assignment_type}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template name="Language" prop="lang_name">
                            Language
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            {{row.name}}
                        </ng-template>
                    </ngx-datatable-column>
                    <!-- <ngx-datatable-column name="Cell Phone" prop="cell_phone">
                        <ng-template ngx-datatable-header-template>
                            Cell Phone
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            {{row.phoneCode}} {{row.cellPhone | mask: '(000) 000-0000'}}
                        </ng-template>
                    </ngx-datatable-column> -->
                    <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                            <span title="Requested date">Requested date</span>
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <span title="{{row.created_at}}"> {{row.created_at | date:'MM/dd/yyyy' }}</span>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                            Status
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <!-- <p *ngIf="row.ris_status == '0'">New Request</p>
                            <p *ngIf="row.ris_status == '4'">Repeat</p> -->
                            <p *ngIf="row.status == '0'">New Request</p>
                            <p *ngIf="row.status == '1'">Pending</p>
                            <!-- <p *ngIf="row.status == '2'">In Progress</p>
                            <p *ngIf="row.status == '3'">Completed</p>
                            <p *ngIf="row.status == '4'">Rejected</p> -->
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="120" [sortable]="false">
                        <ng-template ngx-datatable-header-template>
                            Actions
                        </ng-template>
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <button class="btn btn-outline-secondary" (click)="viewDetail(row.id)">View</button>
                        </ng-template>
                    </ngx-datatable-column>

                </ngx-datatable>
            </div>
            <ng-container *ngIf="list_Obj?.length <= 0">
                <div class="row">
                    <div  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mainbox">
               
                      <div class="boxblock">
                       <i class="fas fa-frown-open"></i>
                       </div>
                        <p class="mt-20 mb-20">Sorry, we couldn't find any matches.<br> Please try again</p> </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>